@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/**{*/
/*    border: 1px solid red;*/
/*}*/
.CurrencyHighlighted{
    @apply bg-amber-300/80 border-b-4 border-green-500 transition-colors duration-1000 ease-in-out text-slate-900 scale-110 ;
}
.Currency{
    @apply bg-sky-800 border-b-4 border-sky-500 transition-colors duration-1000 ease-in-out text-amber-100 hover:bg-blue-950;
}

.description-content a {
    /* Your link styles here */
    @apply text-sky-300 hover:text-amber-300 duration-500 transition-colors;
}

.container {

    /*   border:1px solid red; */
    @apply  flex-col;
    margin:0;
    align-items: center;
}

svg {

    //font: 10.5em 'Montserrat';
    @apply text-[500px];
    margin: 0;
}

.text-copy {
    fill: none;
    stroke: #d1f6d7;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite ease-in-out;
}

.text-copy:nth-child(1){
    stroke: #00ffea;
    animation-delay: -5s;
}

.text-copy:nth-child(2){
    stroke: #ff7410;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #5c00fa;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #1f1515;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #ffeb00;
    animation-delay: -1s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

.tab tr{
    @apply text-right;
}
